{% extends 'layout.twig' %}

{% block content %}

    <h1>Twitter package Demo!</h1>

    <p>Simple usage examples:</p>

    <ul class="collection with-header">
        <li class="collection-header"><h4>UI Check</h4></li>
        <li class="collection-item"><a href="/tweets/check">Check Twitter</a></li>
    </ul>

    <hr/>

    <p>
        To stream tweets in the CLI, run the following command:
    </p>

    <div class="card-panel grey darken-3" style="color: white">
        <pre><code>php console.php stream</code></pre>
    </div>

    <hr/>

{% endblock %}
